.diagram {
    display: grid;
    grid-template-columns: 245px 1080px;
    grid-template-rows: 44px;
    grid-template-areas: "date time-values" "crew-time crew-time";
}

.diagram__date {
    grid-area: date;

    align-self: center;
    justify-self: center;

    font-weight: 400;
    font-size: 17px;
}

.diagram__time-lines {
    grid-area: time-values;

    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;

    list-style: none;
}

.diagram__time-value {
    width: 88px;

    position: relative;

    font-weight: 400;
    font-size: 13px;
}

.diagram__time-value::after {
    content: '';
    width: 1px;
    height: 230px;

    position: absolute;
    top: 15px;
    left: 0;
    z-index: 10;

    background-color: var(--time-line);

    pointer-events: none;
}

.diagram__time-value--task3{
    cursor: pointer;
}

.diagram__time-value--task3:hover::after{
    background-color: var(--time-line-hover);
}

.diagram__crew-list {
    grid-area: crew-time;

    margin: 0;
    padding: 0;

    list-style: none;
}

.diagram__crew {
    display: grid;
    grid-template-columns: 245px 1080px;
    grid-template-rows: 44px;
    grid-template-areas: "crew-name crew-time";
    padding-bottom: 10px;
}

.diagram__crew-chosen{
    background-color: var(--table-border);
}

.diagram__crew-name {
    grid-area: crew-name;
    align-self: center;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 15px;
    padding-left: 10px;

    font-weight: 400;
    font-size: 15px;

    cursor: move;
    user-select: none;
}

.diagram__crew-name--no-pointer{
    cursor: text;
    user-select: auto;
}

/*.diagram__crew-name:hover:not(:active){*/
    /*background-color: var(--table-border);*/
/*}*/

.diagram__crew-time {
    grid-area: crew-time;

    position: relative;

    background-color: var(--schedule-bg);
}

.diagram__time-block {
    height: 44px;

    position: absolute;
    left: 0;

    background-color: var(--time-block-normal);
}

.diagram__time-block--task2{
    padding-left: 16px;
    padding-top: 10px;

    box-sizing: border-box;
}

.diagram__time-block:hover {
    background-color: var(--time-block-hover);
}

.diagram__time-block:active {
    background-color: var(--time-block-active);
}