.gantt-table {
    border-collapse: collapse;
}

.gantt-table__cell {
    padding: 5px;

    border: 1px solid var(--gantt-busy);
}

.gantt-table__cell--busy {
    background-color: var(--gantt-busy-hover);
}

.gantt-table__cell--no-border{
    border: none;
}

.gantt-table__cell--title{
    text-align: center;
    font-weight: 400;
}

.gantt-table__cell--month{
    text-align: center;
    letter-spacing: 1px;
}

.gantt-table__cell--task{
    font-weight: 400;
}

.gantt-table__cell--date{
    width: 30px;

    text-align: center;
}