.page-main {
    grid-area: main;
    padding-top: 20px;

    border-top: 1px solid var(--lightgrey);
}

.page-main__title {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;

    font-size: 20px;
    font-weight: 900;
}

.page-main__is-done {
    margin-left: 20px;
}

.page-main__is-done--correct {
    display: none;
    color: var(--correct-green);
}

.page-main__is-done--wrong {
    display: none;
    color: var(--wrong-red);
}

.page-main__is-done--no-result {
    display: none;
    color: var(--modal-bg-grey);
}

.page-main__theory {
    margin-bottom: 20px;
}

.page-main__paragraph {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;

    font-weight: 200;
    letter-spacing: 1px;
    line-height: 28px;
    text-indent: 20px;
    hyphens: auto;
}

.page-main__table {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    margin: 0;
    margin-bottom: 30px;
    padding: 0;
}

.page-main__table-title {
    margin-top: 20px;

    letter-spacing: 1px;
}

.page-main__controls {
    display: flex;
    justify-content: space-between;
}

.page-main__control {
    padding: 10px 16px;

    color: var(--white);
    font-size: 15px;
    font-weight: 200;

    border: none;
    border-radius: 4px;
    background-color: var(--hover-blue);
}

.page-main__control:hover {
    background-color: var(--hover-link-blue);
}

.page-main__control:active {
    background-color: var(--active-link-blue);
}

.page-main__control--disabled {
    color: var(--disabled-link-text);

    background-color: var(--lightgrey);
}

.page-main__control--disabled:hover {
    background-color: var(--lightgrey);
}

.page-main__control--disabled:active {
    background-color: var(--lightgrey);
}