.task {
    display: grid;
    grid-gap: 20px;
    grid-template-rows: auto auto;
    grid-template-columns: 440px 440px 440px;
    grid-template-areas: "theory theory theory" "task task task" "actions actions actions" "result result result";
    margin-bottom: 20px;
}

.task__theory {
    grid-area: theory;
}

.task__paragraph {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;

    font-weight: 200;
    letter-spacing: 1px;
    line-height: 28px;
    text-indent: 20px;
    hyphens: auto;
}

.task__list {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;

    list-style: none;
}

.task__list li {
    font-weight: 200;
    letter-spacing: 1px;
    line-height: 28px;
    text-indent: 20px;
    hyphens: auto;
}

.task__table-figure {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    display: flex;
    justify-content: center;
}

.task__table {
    border-collapse: collapse;
}

.task__table td,
.task__table th {
    padding: 10px;

    border: 1px solid var(--gantt-busy);
}

.task__result-list {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;

    list-style: none;
}

.task__result-list li {
    font-weight: 200;
    letter-spacing: 1px;
    line-height: 28px;
    text-indent: 20px;
    hyphens: auto;
}

.task__results {
    grid-area: result;
}

.task__result {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;

    font-weight: 200;
    letter-spacing: 1px;
    line-height: 28px;
    text-indent: 20px;
    hyphens: auto;
}

.task__result--correct {
    display: none;

    color: var(--correct-green);
}

.task__result--wrong {
    display: none;

    color: var(--wrong-red);
}

.task__result-list {
    display: none;
}

.task__result-list--wrong {
    color: var(--wrong-red);
}

.task__result--condition {
    display: none;
}

.task__image {
    margin: 0;
    padding: 0;

    text-align: center;
}

.task__actions {
    grid-area: actions;
    display: grid;
}

.task__actions--task2 {
    grid-area: actions;
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-template-areas: "answer check";
}

.task__actions--task3 {
    grid-area: actions;
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-template-areas: "answer check";
}

.task__button {
    padding: 10px 16px;

    color: var(--white);
    font-size: 15px;
    font-weight: 200;

    border: none;
    border-radius: 4px;
    background-color: var(--hover-blue);
}

.task__button:hover {
    background-color: var(--hover-link-blue);
}

.task__button:active {
    background-color: var(--active-link-blue);
}

.task__button--check-task {
    color: var(--font-black);
    background-color: var(--check-button-yellow);
}

.task__button--check-task:hover {
    background-color: var(--check-button-yellow-hover);
}

.task__button--check-task:active {
    background-color: var(--check-button-yellow-active);
}

.task__button--check-task2 {
    grid-area: check;
}

.task__input {
    height: 37px;
    padding-left: 15px;

    color: var(--font-black);

    background: var(--white);
    border: 2px solid var(--lightgrey);
    border-radius: 4px;
}

.task__input-label--bold {
    grid-area: answer;

    font-weight: 400;
    letter-spacing: 1px;
    line-height: 28px;
}

.task__input-label--bold {

}

.task__diagram {
    grid-area: task;
    border: 1px solid var(--lightgrey);
}
