.task {
    display: grid;
    grid-gap: 20px;
    grid-template-rows: auto auto;
    grid-template-columns: 440px 440px 440px;
    grid-template-areas: "theory theory theory" "task task task";
    margin-bottom: 20px;
}

.task__theory {
    grid-area: theory;
}

.task__paragraph{
    margin: 0;
    margin-bottom: 20px;
    padding: 0;

    font-weight: 200;
    letter-spacing: 1px;
    line-height: 28px;
    text-indent: 20px;
    hyphens: auto;
}

.task__diagram {
    grid-area: task;
    border: 1px solid var(--lightgrey);
}
